@font-face {
  font-family: "Milker";
  src: url("../fonts/Milker.woff2") format("woff2"),
    url("../fonts/milker.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Angelos";
  src: url("../fonts/Angelos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
